{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'echallan.css' %}">
    <title>E-challan</title>
  </head>
  <body>
     <!-- <button type="button" class="btn btn-primary">Challan portal</button> -->
     <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand text-light" href="#">E-Challan</a>
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active text-light" href="{%url 'e_contact'%}">contact us<span class="sr-only">(current)</span></a>
          <a class="nav-link text-light " href="{%url 'e-challan'%}">about e-challan</a>
          {% comment %} <a href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;&nbsp; {% endcomment %}
        </div>
      </div>
    </nav><br><br><br><br>
    <h1 class="para"> ABOUT E-CHALLAN</h1><br>
    <strong><h4>What is E-challan?</h4></strong>
    <p>Since everything is on an electronic platform, the concept of e- challan system has been introduced. A vehicle e challan is a computer-generated challan used by the Traffic Police and is being issued to all the traffic defaulters in India. The Government of India has initiated this process to make the traffic services convenient, easy as well as transparent to the general public.

    Also, with e- challan system effective and strong monitoring of the traffic violators becomes easy for the traffic police. In the age of digitalization, traffic defaulters will be able to now pay e-challan either online or offline, depending on the facility given by their city or state. E- challan system has been introduced to avoid cash transactions so that everything is very clear and transparent. The government of India has also introduced Traffic eChallan, which is an application and is combined with web portal applications which are namely Vahan and Sarathi. These two applications offer many benefits and features which cover all the main aspects of the Administration System. The traffic e challan can be paid both online as well as by the traffic violators.</p>
    <strong><h4>Traffic violations for which you might get an e-challan:</h4> </strong>
    <ul>
    <li>There are multiple reasons when an e-challan could be issued by the traffic policemen like:</li>

    <li> Violations of traffic rules,</li>
    <li>Jumping red lights,</li>
    <li>Travelling without a valid ticket,</li>
    <li>Refusal to share information when asked,</li>
    <li>Driving an unauthorised vehicle,</li>
    <li>Driving without a valid license,</li>
    <li>Over-speeding beyond the specified speed limit,</li>
    <li>Drunk driving,</li>
    <li>Driving without a valid insurance policy,</li>
    <li>Causing traffic obstruction, etc.<br></p></li>
    </ul>

    <strong><h4>How does e-challan work?</h4> </strong>
    <p>Well, with the advancement in technology, the online solution is coming up for many aspects in our daily life. E- challan system is one of the biggest examples. Now let us see how it works for you to understand it better. CCTV cameras are installed on the main roads that record and track the footage of the continuous traffic all the time. If you are found guilty of not obeying any traffic regulation, then the traffic police will see the footages of the offence from the respective CCTV and record the same in their books, get the details like name, full address, contact number, vehicle details of your vehicle from the RTO office. An SMS will be sent to you notifying you about the fault committed and the amount of fee which needs to be paid. Traffic police are given the swiping machines for them to generate and print the vehicle e challan instantly to the traffic violators. This e- challan system makes the payment process also smoother as the fine is mostly collected on the spot itself. The defaulter is then issued a receipt confirming that the payment has been received. The entire process is explained below:</p>
    <ol>
        <li>The CCTV footage captures the defaulter. The Enforcement Officer gets the details of the defaulter with the Registration and the driving license number from Vahan and Sarathi database and chooses the offence committed</li>
        <li>A message will be sent to the offender’s registered cell number. The fine amount is calculated automatically as per the offence and the Enforcement Officer then takes a print out of the traffic e challan with all the necessary details and gives the same to the offender</li>
        <li>The defaulter is allowed to pay online by scanning the QR code received or can make cash payment at the RTO office or can deposit cash at onsite.</li>

    </ol>
    <strong><h4>How to pay vehicle e challan?</h4> </strong>
    <p>After a vehicle e challan is being issued to you, you need to pay the fine to avoid further legal hassles. There are two ways by which you can pay traffic in India, one is online and the other is offline. Let us now understand the online method of paying a vehicle e challan. The process flow for vehicle e challan is explained below for your benefit:</p>
    <ol>
    <strong><li>Online Process:</li></strong>
        <p>The online process to pay your vehicle e challan is the easiest and the simplest way to make the payment in case you have got a challan for disobeying the traffic laws. All you need to do is follow the mentioned steps and make a payment online.</p>
    
    <ol>
        <li> You need to go to the official site of the respective state transport website,To cite an example- West Bengal Transport has the official website  https://transport.wb.gov.in/ where you can pay the charges if you are residing anywhere in West Bengal</li>
        <li>You need to choose the option of paying violation fines for the appropriate offence like charges for no parking, not wearing a seatbelt, not wearing a helmet and many others</li>
        <li>You can then select the related offence and fill in the essential details accordingly</li>
        <li>You will have to give your vehicle registration number or the parking violation label number etc if this information is known to you</li>
        <li>You will then have to enter the details and the present unsettled amount</li>
        <li>Then you can make an online payment with your debit or credit card and by providing the necessary details of the card, validate it through a random Captcha code and then click “submit” in order to proceed further</li>
        <li>Thus, after your payment is done, you will get a receipt for payment of the same</li>
        <li>You can make your vehicle e challan payment through e-wallets like Paytm as well</li>
        <li>After the payment is successfully processed, you will receive an SMS confirming about your payment for the vehicle e challan</li>
    </ol>
        <strong><li>Offline Process:</li></strong>
        <P>The offline process is also very simple and easy. But the online process saves your time and energy and hence you would not want to go physically and pay the fine. But it is always good to know about the process in case you need to follow the same any day.</P>
    <ol>
        <li>In the offline process, you can pay your vehicle e challan at any nearest traffic police station to your residence</li>
        <li>Documents that you need to carry are the traffic violation letter in case you have received the same along with your driving license</li>
        <li>In case you did not receive the traffic violation letter, you can request the Traffic Police Officer to check on your earlier dues if there are any, so that you can pay all the fines at once</li>
        <li>The traffic officers can retrieve all data from their smartphones wherein he would be able to see the details of your earlier dues as well</li>
        <li>It is judicious to pay the fine immediately and certainly not keeping the same pending to have a hassle-free driving.</li>
    </ol>
    </ol>
    <p>Always follow the traffic rules and never violate any traffic regulations, else you will be issued<strong>vehicle e challan</strong>for the offence made by you. Why go for the same? Instead, diligently follow all traffic directives and make sure all your you are driving safely, as when you are driving, it’s not just your safety, but you are responsible for other drivers and pedestrian’s safety as well. Always remember, driving is exciting but it comes with some responsibilities as well, so drive well and drive safely.</p>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>