{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'log.css' %}">

    <title>authenticateChallan</title>
  </head>
    <body>
        <div class="wrapper">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1><strong>LOG IN</h1><strong>
            <label for="username">Username</label><br><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password</label><br><br>
            <input type="password" id="password" name="password"><br><br>
            <button>Login</button>
        </form>
    </body>
</html>